<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952229927180-1693mfgvq8u3o2uvol0k5besbsslj1bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952229927180-1693mfgvq8u3o2uvol0k5besbsslj1bo</string>
	<key>API_KEY</key>
	<string>AIzaSyBy2V_-0qxpFuBbiF7Zm10b7YX7WG1JRtU</string>
	<key>GCM_SENDER_ID</key>
	<string>952229927180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fischerliste.fischerliste</string>
	<key>PROJECT_ID</key>
	<string>fischerliste-7d23c</string>
	<key>STORAGE_BUCKET</key>
	<string>fischerliste-7d23c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952229927180:ios:75d36e03445672ad9b5129</string>
	<key>DATABASE_URL</key>
	<string>https://fischerliste-7d23c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>